{{ define "content" }}
  <section class="card max-w-96 mx-auto">
    <h2 class="title">Expense</h2>
    <div class="title-links mb-4">
      <a href="/budgets/{{ .budget.UID }}/expenses/{{ .expense.ID }}/edit" class="link">Edit</a>
      |
      <button type="button" class="link" id="deleteEntry">Delete</button>
    </div>
    <div class="description">
      <p>{{ .expense.Description }}</p>
      <div class="mt-4 flex items-center justify-between">
        <p>{{ template "expense_amount" .expense.Amount }}</p>
        {{ template "entry_class_name" .expense }}
      </div>
    </div>
  </section>
  {{ template "confirmation_modal" . }}
{{ end }}
