{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*tmpl.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
