<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/build/bundle.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>RENIO</title>
  </head>
  <body>
    <div>
      {{ template "navbar" . }}
      <div class="info">{{ .info }}</div>
    </div>
    <div class="flex">
      <main class="w-full">{{ block "content" . }}{{ end }}</main>
      {{ if .isUserSignedIn }}
      <div id="sidebar-overlay">
        <div
          id="sidebar-container"
          class="absolute right-0 h-full transform translate-x-full transition-transform lg:static lg:pb-4 lg:translate-x-0">
          {{ template "sidebar" . }}
        </div>
      </div>
      {{ end }}
    </div>
  </body>
  <script type="module" src="/static/js/build/bundle.js"></script>
</html>
