<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/build/bundle.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <title>RENIO</title>
  </head>
  <body>
    {{ template "navbar" . }}
    <turbo-frame id="info">
      <div class="info">{{ .info }}</div>
    </turbo-frame>
    <main>{{ block "content" . }}{{ end }}</main>
  </body>
  <script type="module" src="/static/js/build/bundle.js"></script>
</html>
