{{ define "budget_info" }}
  <section class="card">
    <h2 class="title">Budget</h2>
    <h3 class="subtitle">{{ .budget.UID }}</h3>
    <div class="text-slate-600">
      <div class="grid grid-cols-2">
        <p>Balance:</p>
        {{ template "budget_balance" .budget.Balance }}
      </div>
      <div class="grid grid-cols-2">
        <p>Last income:</p>
        {{ template "income_amount" .budget.LastIncome }}
      </div>
      <div class="grid grid-cols-2">
        <p>Last expense:</p>
        {{ template "expense_amount" .budget.LastExpense }}
      </div>
    </div>
  </section>
{{ end }}
