{{ define "income_list" }}
  {{ $budgetUID := .budget.UID }}
  <section class="card">
    <h2 class="title !m-0">Income list</h2>
    <div class="title-links mb-4">
      <a href="/budgets/{{ $budgetUID }}/income-list/new" class="link">New income</a>
    </div>
    <ul>
      {{ range .budget.IncomeList }}
        <li>
          <a href="/budgets/{{ $budgetUID }}/income-list/{{ .ID }}">
            <div class="grid grid-cols-2">
              <span>{{ .Description }}</span>
              <span>{{ template "income_amount" .Amount }}</span>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
