{{ define "income_form" }}
  <ul>
    {{ range .errors }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
  {{ $incomeID := .income.ID }}
  <form action="/budgets/{{ .budget.UID }}/income-list/{{ $incomeID }}" method="post" class="form">
    {{ template "csrf_token" . }}
    <label for="entry_class_id">
      Category
      {{ $entryClassID := .income.EntryClassID }}
      <select name="entry_class_id" id="entry_class_id">
        {{ range .entryClasses }}
          <option value="{{ .ID }}" {{ if eq .ID $entryClassID }}selected{{ end }}>
            {{ .Name }}
          </option>
        {{ end }}
      </select>
    </label>
    <label for="description">
      Description
      <textarea name="description" id="description">{{ .income.Description }}</textarea>
    </label>
    <label for="amount">
      Amount
      <input
        type="number"
        name="amount"
        id="amount"
        step="0.01"
        min="1"
        placeholder="100"
        value="{{ .income.Amount }}" />
    </label>
    <div class="form-actions">
      <label for="submit">
        <button type="submit" id="submit">Submit</button>
      </label>
    </div>
  </form>
{{ end }}
